NEXT_PUBLIC_LANGGRAPH_API_KEY=your_langgraph_api_key
NEXT_PUBLIC_LANGGRAPH_API_URL=http://localhost:2024

NEXT_PUBLIC_STACK_PROJECT_ID=your_stack_project_id
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=your_stack_publishable_client_key
STACK_SECRET_SERVER_KEY=your_stack_secret_server_key
